html, body { font-family: sans-serif; padding:0; margin:0; }
.header, .footer { background:black; color:white; padding:4px; }
a { color: white; }
h1 { font-size:16px; padding:0; margin:0; }
.footer { position:absolute; bottom:0; width:100%; }
